# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Dependencies
/packages/pub-cache/
/packages/pub-global/cache/
.packages
.pubconfig

# IDE related
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Logs
logs/
*.log

# Test
/test/

# Generated code
gen_l10n/

# OS
.DS_Store
